body {
    text-align: justify;
    font-family: Computer Modern Serif, Latin Modern Roman, serif;
}

@media screen {
    body {
        color: #111;
        background: #f8f8f8;
        line-height: 1.2;

        /* Make the text no wider than 50em, but leave no less than 2em margins. */
        
        max-width: 50em;
        margin-left: auto;
        margin-right: auto;
    }
}

html {
    margin: 0;
    padding: 0 2em;
}

.textsuperscript {
    line-height: 0;
}

p.indent {
    text-indent: 0;
}

.right {
    float: right;
}


/* Footnotes are set in cmr-8, which has font-size: 80%; So 125% on
 * the DIV will make it 100%, so that footnotes have the same 
 * font-size as the rest of the text. And I added some vertical
 * margin. --GB
 */

div.footnotes {
    font-size: 125%;
}
div.footnotes p {
    margin: 1em 0;
}

.quotation {
    font-style: italic;
}

div.caption {
    text-align: center;
}

.lstlisting {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1pt #888 solid;
    padding: 1em;
}

.figure, .math-display {
    text-align: center;
}

.figure > p > img {
    width: 70%;
    height: auto !important;
}

.outdent {
    position: relative;
    left: -1.5em;
}
.outdent-rest {
    position: relative;
    left: -1em;
}

hr {
    max-height: 0;
    border: none;
    border-top: 1px #111 solid;
}
